<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.improvemental">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ServiceInfoFamily"></activity>
        <activity android:name=".Review" />
        <activity android:name=".PromptNotification" />
        <activity android:name=".Payment" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".EditProfile" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".MyAccount" />
        <activity android:name=".ServiceInfoCouple" />
        <activity android:name=".ServiceInfoIndividual" />
        <activity android:name=".Service" />
        <activity android:name=".BookingHistoryUpcoming" />
        <activity android:name=".BookingHistoryComplete" />
        <activity android:name=".BookingHistoryCancel" />
        <activity android:name=".BookingDateTime" />
        <activity android:name=".Booking" />
        <activity
            android:name=".NavigationBar"
            android:label="@string/title_activity_navigation_bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Home" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>